<section class="parallax parallax-1" id="parallax-quote-1" >
    <div class="overlay dark-5"> </div>
      <div class="container">
        <div class="text-center">
          <h2 class="fs-90 fw-300">RECOGNITION</h2>
          <a class="btn btn-lg btn-default btn-lg" href="/">HOME <i class="fa fa-angle-right"></i></a>
          &nbsp; OR &nbsp;
          <%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
            <span class="btn btn-lg btn-red">CONTACT US <i class="fa fa-angle-right"></i></span>
          <% end %>
        </div>
      </div>
  </section>