
<div class="tab-content" id="submission-tabContent">

    <section id="intervention">
        
        <div class="container">
            <div class="heading-title heading-dotted text-center">
                <h2 style="color: royalblue">Interventions</h2>
            </div>
        </div>            
            <fieldset>
                <div class="col-md-6 mx-auto text-center text-blue offset-md-3">
                   test
                </div>

                <div class="col-md-6 mx-auto text-center text-blue offset-md-3">
                    test
                </div>

                <div class="col-md-3 mx-auto col text-blue align-self-center text-center">
                    test
                </div>

                <div class="col-md-3 mx-auto text-blue justify-content-center text-center">
                   test
                </div>

                <div class="col-md-3 mx-auto text-blue text-center">
                    test
                </div>

                <hr>

                <div class="col-md-3 mx-auto text-blue text-center">
                    test
                </div>

                <div class="col-md-12 mx-auto text-blue text-center">
                    test
                </div>

       

                <div class="row">
                
                    <div class="col-md-12 text-center">
                        <p>
                            test
                        </p>
                    </div>
                </div>
            </fieldset>
        <% end %>
    </section>
</div>